@page "/produtoss"
@inject HttpClient http




<h4> Praticando a Lista e os Laços de Repetição sendo invocado de outra pasta e classe! </h4>
<br />

@*<table class="tabel">


    <thead>
        <tr>
            <th>Produto</th>
            <th>valor</th>
            <th>Data de Cadastro</th>

        </tr>
    </thead>

    <tbody>
        @for (int i = 0; i < ItensP.ListProdutos.Count; i++)
        {
            //Listando os Produtos
            <tr>
                <td> @ItensP.ListProdutos[i].Nome</td>
                <td> @ItensP.ListProdutos[i].Valor</td>
                <td> @ItensP.ListProdutos[i].Data.ToString("dd/MM/yyyy")</td>

            </tr>

        }
    </tbody>
</table>*@


<table class="table">
    <thead>
        <tr>
            <th>produto</th>
            <th>valor</th>
            <th>data de cadastro</th>
            <th>disponibilidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ItensP.ListProdutos)
        {
            //listando os produtos
            <tr>
                <td> @i.Nome</td>
                <td> @i.Valor</td>
                <td> @i.Data.ToString("dd/MM/yy")</td>
                <td> @i.Diponibilidade</td>
            </tr>
        }
    </tbody>
</table>


@code {

}
